/* yekan back */
@font-face {
  font-family: "yekanBakh";
  font-style: normal;
  font-weight: 100;
  src: url("./yekanBahk/yekan_bakh_thin.woff"),
    url("./yekanBahk/yekan_bakh_thin.woff2");
}
@font-face {
  font-family: "yekanBakh";
  font-style: normal;
  font-weight: 300;
  src: url("./yekanBahk/yekan_bakh_light.woff"),
    url("./yekanBahk/yekan_bakh_light.woff2");
}
@font-face {
  font-family: "yekanBakh";
  font-style: normal;
  font-weight: 400;
  src: url("./yekanBahk/yekan_bakh_regular.woff"),
    url("./yekanBahk/yekan_bakh_regular.woff2");
}
@font-face {
  font-family: "yekanBakh";
  font-style: normal;
  font-weight: 500;
  src: url("./yekanBahk/yekan_bakh_medium.woff"),
    url("./yekanBahk/yekan_bakh_medium.woff2");
}
@font-face {
  font-family: "yekanBakh";
  font-style: normal;
  font-weight: 600;
  src: url("./yekanBahk/yekan_bakh_bold.woff"),
    url("./yekanBahk/yekan_bakh_bold.woff2");
}
@font-face {
  font-family: "yekanBakh";
  font-style: normal;
  font-weight: 700;
  src: url("./yekanBahk/yekan_bakh_heavy.woff"),
    url("./yekanBahk/yekan_bakh_heavy.woff2");
}

@font-face {
  font-family: "yekanBakh";
  font-style: normal;
  font-weight: 800;
  src: url("./yekanBahk/yekan_bakh_fat.woff"),
    url("./yekanBahk/yekan_bakh_heavy.woff2");
}
/* dunerise font */
@font-face {
  font-family: "dune-rise";
  font-style: normal;
  src: url("./Dune_Rise.otf"), url("./Dune_Rise.ttf");
}
