@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --animation-portfolio: 2s;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: rgb(120 121 120 / var(--tw-bg-opacity, 1));
  --tw-bg-opacity: 0.9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar {
  height: 0.25rem;
  width: 0.5rem;
}

.hero-section::before {
  position: absolute;
  z-index: -1;
  content: "";
  height: 130vw;
  width: 100vw;
  top: 40%;
  translate: 0 -30%;
  left: -50vw;
  background: linear-gradient(247.23deg, rgba(56, 189, 248, 0.5), #2f4cb3);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 65%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 65%);
}
.hero-section::after {
  position: absolute;
  z-index: -1;
  content: "";
  height: 100vw;
  width: 110vw;
  top: 10%;
  translate: 0 -30%;
  right: -60vw;
  background: linear-gradient(83.21deg, #3245ff, #bc52ee);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.4), transparent 65%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.4), transparent 65%);
}
@media only screen and (min-width: 768px) {
  .hero-section::before {
    position: absolute;
    z-index: -1;
    content: "";
    height: 50vw;
    width: 100vw;
    top: 50%;
    translate: 0 -30%;
    left: -60vw;
    background: linear-gradient(83.21deg, #3245ff, #bc52ee);
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.4), transparent 65%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.4), transparent 65%);
  }
  .hero-section::after {
    position: absolute;
    z-index: -1;
    content: "";
    height: 50vw;
    width: 100vw;
    top: 50%;
    translate: 0 -30%;
    right: -60vw;
    background: linear-gradient(247.23deg, #4af2c8, #2f4cb3);
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 65%);
    mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 65%);
  }
  .mega-menu-trigger:hover .mega-menu {
    display: grid;
  }
}

.colored-title {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #5e0791 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(91 33 182 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #7c3aed var(--tw-gradient-to-position);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* 
.colored-title:is(.dark *):not(.light *) {
  --tw-gradient-from: #a78bfa var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(167 139 250 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #ddd6fe var(--tw-gradient-to-position);
} */

.colored-title {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #5e0791 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(91 33 182 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #7c3aed var(--tw-gradient-to-position);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.colored-title:is(.dark *):not(.light *) {
  --tw-gradient-from: #8b9ffa var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(102, 112, 247, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #d6e1fe var(--tw-gradient-to-position);
}
