---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import LogosSection from "../sections/LogosSection.astro";
import HeroSection from "../sections/HeroSection.astro";
import ServicesSection from "../sections/ServicesSection.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import DescriptionSection from "@/sections/DescriptionSection.astro";
import PricingSection from "@/sections/PricingSection.astro";
import FandQSection from "@/sections/FandQSection.astro";
import Testimonials from "@/sections/Testimonials.astro";
import Footer from "@/sections/Footer.astro";
import BannerSection from "@/sections/BannerSection.astro";
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";
import { Textarea } from "@/components/ui/textarea";
import { Card } from "@/components/ui/card";
import { Icon } from "astro-icon/components";
import SectionTitle from "@/components/SectionTitle.astro";

const title = "تماس با هوش آی تی | مشاوره و پشتیبانی خدمات دیجیتال";
const description =
  "برای دریافت مشاوره تخصصی در زمینه طراحی وب‌سایت، سئو، مدیریت اینستاگرام و خدمات دیجیتال مارکتینگ با تیم هوش آی تی تماس بگیرید. ما آماده پاسخگویی به سوالات شما هستیم.";
const keywords =
  "تماس با هوش آی تی، مشاوره طراحی سایت، پشتیبانی خدمات وب، ارتباط با هوش آی تی، خدمات دیجیتال مارکتینگ، مشاوره سئو، خدمات مدیریت اینستاگرام، شماره تماس هوش آی تی";
---

<Layout title={title} description={description} keywords={keywords}>
  <Header />
  <MobileHeader />
  <main class="sm:pt-20">
    <div class="mx-auto max-w-screen-xl pt-10 md:pt-20">
      <SectionTitle
        title="تماس با ما"
        effectiveTitle="contact us"
        subtitle="ارتباط با کارشناسان مجموعه"
      />
      <div class="grid md:grid-cols-2 gap-10 pt-10 md:pt-20">
        <div>
          <p class="pl-10 pr-5 md:pr-0 leading-7">
            شرکت هوش آی تی از سال ۱۴۰۰ پشتیبان و همراه کسب و کارهای حوزه وب بوده
            و با حمایت هلدینگ میم جاوید توانسته است تیمی حرفه ای در حوزه برنامه
            نویسی وب ، سئو ، تولید محتوا ، و اینستاگرام جمع آوری کند. هدف مجموعه
            ما توسعه کسب و کار شما در فضای دیجیتال می باشد، که با ارائه برنامه
            ریزی های اصولی ، بهترین خدمات اختصاصی را با بالاترین کیفیت در دسترس
            مشتریان قرار میدهد
          </p>
        </div>
        <div>
          <form action="" class="px-5 md:px-0 flex flex-col gap-5">
            <div class="flex gap-3">
              <Input placeholder="نام و نام خانوادگی" />
              <Input placeholder="091 XXXX XXXX" type="tel" />
            </div>
            <Textarea placeholder="پیام خود را بنویسید" rows={7} />
            <Button className="w-full"> ارسال </Button>
          </form>
        </div>
      </div>
      <div
        class="grid md:grid-cols-3 gap-5 md:gap-10 md:pt-32 pt-12 p-5 md:p-0"
      >
        <Card className="p-5  flex flex-col items-center">
          <Icon name="mdi:location-radius" size={50} />
          <p class="font-light pt-5">
            منطقه آزاد ماکو ، شهرک ولیعصر ، برج پارمیس ۳ ، طبقه ۳
          </p>
        </Card>
        <Card className="p-5 flex flex-col items-center">
          <Icon name="mdi:phone-in-talk-outline" size={50} />
          <p class="font-light pt-5" dir="ltr">044 - 34222008</p>
        </Card>
        <Card className="p-5 flex flex-col items-center">
          <Icon name="mdi:email-multiple-outline" size={50} />
          <p class="font-light pt-5">info@smartitgroups.com</p>
        </Card>
      </div>
    </div>
    <!-- Banner section -->
    <BannerSection />
    <!-- Footer section  -->
    <Footer />
  </main>
</Layout>
