---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import LogosSection from "../sections/LogosSection.astro";
import HeroSection from "../sections/HeroSection.astro";
import ServicesSection from "../sections/ServicesSection.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import DescriptionSection from "@/sections/DescriptionSection.astro";
import PricingSection from "@/sections/PricingSection.astro";
import FandQSection from "@/sections/FandQSection.astro";
import Testimonials from "@/sections/Testimonials.astro";
import Footer from "@/sections/Footer.astro";
import BannerSection from "@/sections/BannerSection.astro";
import { Input } from "@/components/ui/input";
import { Button } from "@/components/ui/button";
import { Textarea } from "@/components/ui/textarea";
import { Card } from "@/components/ui/card";
import { Icon } from "astro-icon/components";
---

<Layout title="تماس با ما">
  <Header />
  <MobileHeader />
  <main class="sm:pt-20">
    <div class="mx-auto max-w-screen-xl">
      <h1 class="colored-title text-5xl text-center font-medium py-12">
        تماس با ما
      </h1>
      <div class="grid md:grid-cols-2 gap-10">
        <div>
          <p class="pl-10 pr-5 md:pr-0 leading-7">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی
            در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را
            می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
            الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد در این
            صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها
          </p>
        </div>
        <div>
          <form action="" class="px-5 flex flex-col gap-5">
            <div class="flex gap-3">
              <Input placeholder="نام و نام خانوادگی" />
              <Input placeholder="091 XXXX XXXX" type="tel" />
            </div>
            <Textarea placeholder="پیام خود را بنویسید" />
            <Button className="w-full"> ارسال </Button>
          </form>
        </div>
      </div>
      <div class="grid md:grid-cols-3 gap-10 md:py-20 p-5">
        <Card className="p-5 flex flex-col items-center">
          <Icon name="mdi:location-radius" size={50} />
          <p class="font-light py-5">
            منطقه آزاد ماکو ، شهرک ولیعصر ، برج پارمیس ۳ ، طبقه ۳
          </p>
        </Card>
        <Card className="p-5 flex flex-col items-center">
          <Icon name="mdi:phone-in-talk-outline" size={50} />
          <p class="font-light py-5">04434222008</p>
        </Card>
        <Card className="p-5 flex flex-col items-center">
          <Icon name="mdi:email-multiple-outline" size={50} />
          <p class="font-light py-5">info@smartitgroups.com</p>
        </Card>
      </div>
    </div>
    <!-- Banner section -->
    <BannerSection />
    <!-- Footer section  -->
    <Footer />
  </main>
</Layout>
