---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import LogosSection from "../sections/LogosSection.astro";
import HeroSection from "../sections/HeroSection.astro";
import ServicesSection from "../sections/ServicesSection.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import DescriptionSection from "@/sections/DescriptionSection.astro";
import PricingSection from "@/sections/PricingSection.astro";
import FandQSection from "@/sections/FandQSection.astro";
import Testimonials from "@/sections/Testimonials.astro";
import Footer from "@/sections/Footer.astro";
import BannerSection from "@/sections/BannerSection.astro";
import OrderDrawer from "@/components/OrderDrawer";

const title = "هوش آی تی | طراحی وب‌سایت حرفه‌ای، سئو و خدمات دیجیتال مارکتینگ";
const description =
  "هوش آی تی، ارائه‌دهنده خدمات حرفه‌ای طراحی وب‌سایت، برنامه‌نویسی، سئو، مدیریت اینستاگرام، طراحی گرافیک و تبلیغات گوگل ادز. با ما کسب‌وکار خود را در دنیای دیجیتال متمایز کنید.";
const keywords =
  "طراحی وب‌سایت، برنامه‌نویسی وب، سئو، بهینه‌سازی سایت، تبلیغات گوگل، مدیریت اینستاگرام، طراحی گرافیک، بازاریابی دیجیتال، هوش آی تی، خدمات طراحی سایت، رشد کسب‌وکار آنلاین";
---

<Layout title={title} description={description} keywords={keywords}>
  <Header />
  <MobileHeader />
  <main class="">
    <HeroSection />
    <!-- logoes slidder  -->
    <LogosSection />
    <!--  services section -->
    <ServicesSection />
    <!-- descriptions section  -->
    <DescriptionSection />
    <!-- pricing  section  -->
    <PricingSection />
    <!-- testimonials section -->
    <Testimonials />
    <!-- F&Q section  -->
    <FandQSection />
    <!-- Banner section -->
    <BannerSection />
    <!-- Footer section  -->
    <Footer />
    <OrderDrawer client:load />
  </main>
</Layout>
