---
import { Icon } from "astro-icon/components";
import { Button } from "./ui/button";
import { Image } from "astro:assets";
import siteLogo from "../images/siteLogo.svg";
---

<header class="relative md:hidden">
  <div class="max-w-screen-xl flex justify-between items-center px-6 py-2">
    <Button
      data-element="open-slider-btn"
      size="icon"
      variant="outline"
      aria-label="Open sidebar menu"
    >
      <span hidden>باز کردن منو کناری</span>
      <Icon name="mdi:menu" aria-hidden="true" focusable="false" />
    </Button>

    <nav
      class="fixed top-0 h-lvh right-0 w-80 z-20 translate-x-full duration-200 bg-black/30 backdrop-blur-md flex flex-col p-6"
      data-element="canvas-slider"
    >
      <Button
        className="mr-auto shrink-0"
        data-element="close-slider-btn"
        size="icon"
        aria-label="close sidebar menu"
      >
        <span hidden>بستن منو کناری</span>
        <Icon name="mdi:close" size={25} aria-hidden="true" focusable="false" />
      </Button>
      <ul class="mt-5">
        <li class="py-3 text-lg font-medium text-white flex gap-2 items-center">
          <Icon name="mdi:home" size={22} />
          <a href="/">خانه</a>
        </li>
        <li class="py-3 text-lg font-medium text-white">
          <a
            class="flex gap-2 items-center"
            data-element="collapse-trigger"
            role="button"
            ><Icon name="mdi:hand-tap" size={22} /><span>خدمات</span>
            <Icon
              name="mdi:chevron-left"
              size={22}
              class="mr-auto duration-200 -rotate-90"
              data-element="trigger-icon"
            /></a
          >
          <ul class="pr-3 overflow-hidden max-h-0">
            <li
              class="py-2 pr-3 text-lg text-white/80 border-r-2 border-white/40"
            >
              <a href="/services/web-design-company">طراحی سایت شرکتی</a>
            </li>
            <li
              class="py-2 pr-3 text-lg text-white/80 border-r-2 border-white/40"
            >
              <a href="/services/web-design-ecommerce">طراحی سایت فروشگاهی</a>
            </li>
            <li
              class="py-2 pr-3 text-lg text-white/80 border-r-2 border-white/40"
            >
              <a href="/services/web-design-laravel"
                >برنامه نویسی و توسعه سایت با لاراول
              </a>
            </li>
            <li
              class="py-2 pr-3 text-lg text-white/80 border-r-2 border-white/40"
            >
              <a href="/services/seo">سئو</a>
            </li>
            <li
              class="py-2 pr-3 text-lg text-white/80 border-r-2 border-white/40"
            >
              <a href="/services/instagram">اینستاگرام</a>
            </li>
            <li
              class="py-2 pr-3 text-lg text-white/80 border-r-2 border-white/40"
            >
              <a href="/services/ui">طراحی UI</a>
            </li>
          </ul>
        </li>
        <li class="py-3 text-lg font-medium text-white flex gap-2 items-center">
          <Icon name="mdi:bag-checked" size={22} /><a href="/portfolios"
            >نمونه کارها</a
          >
        </li>
        <li class="py-3 text-lg font-medium text-white flex gap-2 items-center">
          <Icon name="mdi:file-document-multiple" size={22} /><a href="/blog"
            >مقالات</a
          >
        </li>
        <li class="py-3 text-lg font-medium text-white flex gap-2 items-center">
          <Icon name="mdi:dollar" size={22} /><a href="/#pricing">تعرفه ها </a>
        </li>
        <li class="py-3 text-lg font-medium text-white flex gap-2 items-center">
          <Icon name="mdi:about-variant" size={22} /><a href="/contact">
            درباره ما
          </a>
        </li>
        <li class="py-3 text-lg font-medium text-white flex gap-2 items-center">
          <Icon name="mdi:support" size={22} /><a href="/contact"> تماس </a>
        </li>
      </ul>

      <script>
        const sidebarOpenBtn = document.querySelector(
          "[data-element=open-slider-btn]"
        );
        const sidebarCanvas = document.querySelector(
          "[data-element=canvas-slider]"
        );
        const sidebarCloseBtn = document.querySelector(
          "[data-element=close-slider-btn]"
        );

        // open sidebar
        sidebarOpenBtn.addEventListener("click", () => {
          sidebarCanvas.classList.remove("translate-x-full");
          document.body.style.overflowY = "hidden";
        });
        // close sidebar
        sidebarCloseBtn.addEventListener("click", () => {
          sidebarCanvas.classList.add("translate-x-full");
          document.body.style.overflowY = "unset";
        });

        // close sidebar when clicking outsiude
        document.addEventListener("mouseup", (e) => {
          if (
            !sidebarOpenBtn.contains(e.target) &&
            !sidebarCanvas.contains(e.target)
          ) {
            sidebarCanvas.classList.add("translate-x-full");
            document.body.style.overflowY = "unset";
          }
        });

        // collapse menu
        document
          .querySelectorAll("[data-element=collapse-trigger]")
          ?.forEach((element) => {
            element.addEventListener("click", (e) => {
              element.nextElementSibling.classList.toggle("max-h-0");
              element.nextElementSibling.classList.toggle("pt-4");
              element
                .querySelector("[data-element=trigger-icon]")
                .classList.toggle("-rotate-90");
            });
          });
      </script>
    </nav>
    <div class="flex gap-2 items-end">
      <h2 class="text-white text-base font-[dune-rise] leading-4 font-semibold">
        smart <span class="text-sky-400">IT</span>
      </h2>
      <Image
        src={siteLogo}
        alt="smartitgroups logo"
        width={28}
        loading="eager"
      />
    </div>
  </div>
</header>
