---
interface Props {
  title: string;
  subtitle?: string;
  effectiveTitle: string;
  tag?: string;
}
const { title, subtitle, effectiveTitle, tag } = Astro.props;
---

<div class="flex flex-col gap-1 md:gap-6 relative md:pt-8">
  {
    tag === "h1" ? (
      <h1 class="text-2xl md:text-5xl text-center font-semibold">{title}</h1>
    ) : (
      <h2 class="text-2xl md:text-5xl text-center font-semibold">{title}</h2>
    )
  }

  <p class="colored-title font-medium text-center text-sm md:text-base">
    {subtitle}
  </p>
  <span
    class="uppercase font-medium tracking-widest text-4xl md:text-9xl section-title-effect top-0 right-0 w-full absolute text-center"
    >{effectiveTitle}</span
  >
</div>
