---
import { Button } from "@/components/ui/button";
---

<section class="md:my-36 my-24 py-8" id="CTA">
  <div class="max-w-screen-xl mx-auto">
    <div
      class="w-full relative rounded-2xl h-full mx-auto overflow-hidden bg-gradient-to-bl dark:from-sky-400 dark:to-[#12121b]/50 from-sky-400 to-40% to-slate-300"
    >
      <div class="relative h-full p-px">
        <div
          class="relative h-full overflow-hidden z-10 rounded-[calc(1rem-1px)] bg-sky-400 dark:bg-[#17171a]/90"
        >
          <div
            class="w-full mx-auto -z-10 absolute aspect-square rounded-full -translate-y-1/2 right-0 top-0 -translate-x-1/2 bg-sky-400/10 blur-3xl max-w-xl md:-translate-x-1/4"
            aria-hidden="true"
          >
          </div><div
            class="mx-auto grid gap-8 max-w-4xl md:grid-cols-3 md:py-24 px-4 py-20"
          >
            <div class="md:col-span-2">
              <div class="flex justify-start">
                <p class="inline colored-title">رشد کسب و کار</p>
              </div><h2 class="text-3xl font-medium mt-8">
                بیزینست رو همین امروز دیجیتالی کن
              </h2><p class="mt-6 description">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله
                در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              </p>
            </div><div class="flex justify-start items-end md:justify-end">
              <Button>
                <a
                  href="https://cosmicthemes.com/themes/galaxy/"
                  rel="noopener noreferrer"
                  target="_blank">مشاوره کسب و کار رایگان</a
                >
              </Button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
<div
  class="w-full relative rounded-2xl h-full mx-auto overflow-hidden pricing-plan bg-gradient-to-br dark:from-primary-500 dark:to-base-600/60 from-primary-400 to-40% to-base-300"
>
  <div class="relative h-full p-px">
    <div
      class="relative h-full overflow-hidden z-10 rounded-[calc(1rem-1px)] bg-primary-100 dark:bg-base-800"
    >
      <div
        class="w-full mx-auto -z-10 absolute aspect-square rounded-full -translate-y-1/2 left-0 top-0 -translate-x-1/2 bg-primary-600/10 blur-3xl max-w-xl md:-translate-x-1/4"
        aria-hidden="true"
      >
      </div><div
        class="mx-auto grid gap-8 max-w-3xl md:grid-cols-3 md:py-24 px-4 py-20"
      >
        <div class="md:col-span-2">
          <div class="flex justify-start">
            <p class="inline colored-title">Make more money</p>
          </div><h2 class="h1 mt-8">What are you waiting for?</h2><p
            class="mt-6 description"
          >
            Get your beautiful and effective website up in running in a snap
            with Galaxy today.
          </p>
        </div><div class="flex justify-start items-end md:justify-end">
          <a
            class="button group button--primary"
            href="https://cosmicthemes.com/themes/galaxy/"
            rel="noopener noreferrer"
            target="_blank">Get Galaxy</a>
        </div>
      </div>
    </div>
  </div>
</div>
-->
