<section class="py-8">
  <div class="max-w-screen-xl px-5 mx-auto flex flex-col gap-16 md:gap-24">
    <article class="grid gap-8 md:grid-cols-2 items-center">
      <div data-aos="fade-up">
        <h4 class="text-sky-400">اینستاگرام</h4>
        <h3 class="text-3xl font-medium py-5">
          رشد در اینستاگرام و فضای مجازی
        </h3>
        <p class="opacity-90 md:pl-5 leading-8">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی کتابهای زیادی در شصت
          طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می
          توان امید داشت که و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
          مورد استفاده قرار گیرد.
        </p>
      </div>

      <div
        class="w-full mx-auto h-auto max-w-4xl mb-auto"
        data-aos="fade-right"
      >
        <div
          class="relative h-full rounded-2xl dark:from-sky-600 from-sky-600 bg-gradient-to-br dark:to-stone-800/60 after:absolute after:bg-stone-800/30 after:inset-[1px] after:rounded-[calc(1rem-1px)] dark:after:bg-stone-800/50 dark:via-stone-800/60 to-stone-800/70 via-stone-800/70"
          style="opacity: 1; transform: translateX(0px);"
        >
          <img
            alt=""
            class="w-full relative rounded-2xl border border-transparent object-cover p-1 z-10 -hue-rotate-[45deg]"
            decoding="async"
            height="700"
            loading="lazy"
            src="/images/dashboard.webp"
            width="1120"
          />
        </div>
      </div>
    </article>

    <article class="grid gap-8 md:grid-cols-2 items-center">
      <div
        class="w-full mx-auto h-auto max-w-4xl mb-auto row-start-2 row-end-3 md:row-auto"
        data-aos="fade-left"
      >
        <div
          class="relative h-full rounded-2xl dark:from-sky-600 from-sky-600 bg-gradient-to-br dark:to-stone-800/60 after:absolute after:bg-stone-800/30 after:inset-[1px] after:rounded-[calc(1rem-1px)] dark:after:bg-stone-800/50 dark:via-stone-800/60 to-stone-800/70 via-stone-800/70"
          style="opacity: 1; transform: translateX(0px);"
        >
          <img
            alt=""
            class="w-full relative rounded-2xl border border-transparent object-cover p-1 z-10 -hue-rotate-[45deg]"
            decoding="async"
            height="700"
            loading="lazy"
            src="/images/dashboard_3.webp"
            width="1120"
          />
        </div>
      </div>

      <div data-aos="fade-up">
        <h4 class="text-sky-400">اینستاگرام</h4>
        <h3 class="text-3xl py-5">رشد در اینستاگرام و فضای مجازی</h3>
        <p class="opacity-90 md:pl-5 leading-8">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی کتابهای زیادی در شصت
          طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می
          توان امید داشت که و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
          مورد استفاده قرار گیرد.
        </p>
      </div>
    </article>
    <article class="grid gap-8 md:grid-cols-2 items-center">
      <div data-aos="fade-up" class="row-start-1 row-end-2 md:row-auto">
        <h4 class="text-sky-400">اینستاگرام</h4>
        <h3 class="text-3xl py-5">رشد در اینستاگرام و فضای مجازی</h3>
        <p class="opacity-90 md:pl-5 leading-8">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی کتابهای زیادی در شصت
          طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می
          توان امید داشت که و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا
          مورد استفاده قرار گیرد.
        </p>
      </div>

      <div
        class="w-full mx-auto h-auto max-w-4xl mb-auto row-start-2 row-end-3 md:row-auto"
        data-aos="fade-right"
      >
        <div
          class="relative h-full rounded-2xl dark:from-sky-600 from-sky-600 bg-gradient-to-br dark:to-stone-800/60 after:absolute after:bg-stone-800/30 after:inset-[1px] after:rounded-[calc(1rem-1px)] dark:after:bg-stone-800/50 dark:via-stone-800/60 to-stone-800/70 via-stone-800/70"
          style="opacity: 1; transform: translateX(0px);"
        >
          <img
            alt=""
            class="w-full relative rounded-2xl border border-transparent object-cover p-1 z-10 -hue-rotate-[45deg]"
            decoding="async"
            height="700"
            loading="lazy"
            src="/images/dashboard_2.webp"
            width="1120"
          />
        </div>
      </div>
    </article>
  </div>
</section>
