---
import { Image } from "astro:assets";
import dashboardImage from "../images/dashboard.webp";
import dashboardImage3 from "../images/dashboard_3.webp";
---

<section class="py-8">
  <div class="max-w-screen-xl px-5 mx-auto flex flex-col gap-16 md:gap-24">
    <article class="grid gap-8 md:grid-cols-2 items-center">
      <div data-aos="fade-up">
        <h4 class="text-sky-400">وبسایت</h4>
        <h3 class="text-3xl font-medium py-5">
          وبسایت ، معرف برند و سازمان شما
        </h3>
        <p class="opacity-90 md:pl-5 leading-8">
          هر شرکتی برای برند سازی خود نیاز به یک وبسایت حرفه ای دارد ، هوش آی تی
          با تیم متخصص خود بهترین وبسایت را برای کسب و کار شما طراحی میکند .
          وبسایتی سریع ، ایمن و با تجربه کاربری عالی که باعث میشود اعتبار شرکت
          سما به وضوح به بازدیدکنندگان نمایش داده شود
        </p>
      </div>

      <div class="w-full mx-auto h-auto max-w-4xl mb-auto" data-aos="fade-up">
        <div
          class="relative h-full rounded-2xl dark:from-sky-600 from-sky-600 bg-gradient-to-br dark:to-stone-800/60 after:absolute after:bg-stone-800/30 after:inset-[1px] after:rounded-[calc(1rem-1px)] dark:after:bg-stone-800/50 dark:via-stone-800/60 to-stone-800/70 via-stone-800/70"
          style="opacity: 1; transform: translateX(0px);"
        >
          <Image
            src={dashboardImage}
            alt="dashboard image"
            class="w-full relative rounded-2xl border border-transparent object-cover p-1 z-10 -hue-rotate-[45deg]"
          />
        </div>
      </div>
    </article>

    <article class="grid gap-8 md:grid-cols-2 items-center">
      <div
        class="w-full mx-auto h-auto max-w-4xl mb-auto row-start-2 row-end-3 md:row-auto"
        data-aos="fade-up"
      >
        <div
          class="relative h-full rounded-2xl dark:from-sky-600 from-sky-600 bg-gradient-to-br dark:to-stone-800/60 after:absolute after:bg-stone-800/30 after:inset-[1px] after:rounded-[calc(1rem-1px)] dark:after:bg-stone-800/50 dark:via-stone-800/60 to-stone-800/70 via-stone-800/70"
          style="opacity: 1; transform: translateX(0px);"
        >
          <Image
            src={dashboardImage3}
            alt="dashboard image ecommerce"
            class="w-full relative rounded-2xl border border-transparent object-cover p-1 z-10 -hue-rotate-[45deg]"
          />
        </div>
      </div>

      <div data-aos="fade-up">
        <h4 class="text-sky-400">اینستاگرام</h4>
        <h3 class="text-3xl py-5">رشد در اینستاگرام و فضای مجازی</h3>
        <p class="opacity-90 md:pl-5 leading-8">
          یکی از مهمترین چالش ها برای هر کسب و کاری ، فعالیت در فضای مجازی
          اللخصوص اینستاگرام است هوش آی تی با یک تیم حرفه ای و با تجربه ،
          ویترینی جذاب را در اینستاگرام برای شما میسازد و با ارائه مشاوره های
          حرفه ای شما را با الگوریتم اینستاگرام آشنا میکند که این امر باعث
          افزایش بازدید و پیشرفت شما در حوزه اینستاگرام و در نتیجه افزایش فروش
          میشود .
        </p>
      </div>
    </article>
    <article class="grid gap-8 md:grid-cols-2 items-center">
      <div data-aos="fade-up" class="row-start-1 row-end-2 md:row-auto">
        <h4 class="text-sky-400">سئو</h4>
        <h3 class="text-3xl py-5">چرا وبسایت ها به سئو نیاز دارند !؟</h3>
        <p class="opacity-90 md:pl-5 leading-8">
          داشتن یک وبسایت به تنهایی کافی نیست ، یک بیزینس برای موفق شدن در فضای
          وب نیاز دارد در صفحه اول گوگل ظاهر شود. سئو یک فرایند پیچیده و زمان بر
          است که به دلیل وجود فضای رقابتی ، نیاز به دانش و تخصص بالایی دارد ،
          شرکت هوش آی تی بهترین تیم سئو و تولید محتوا را گرد هم آورده تا تجربه
          رتبه های اول گوگل را برای مشتریان خود به ارمغان بیاورد.
        </p>
      </div>

      <div
        class="w-full mx-auto h-auto max-w-4xl mb-auto row-start-2 row-end-3 md:row-auto"
        data-aos="fade-up"
      >
        <div
          class="relative h-full rounded-2xl dark:from-sky-600 from-sky-600 bg-gradient-to-br dark:to-stone-800/60 after:absolute after:bg-stone-800/30 after:inset-[1px] after:rounded-[calc(1rem-1px)] dark:after:bg-stone-800/50 dark:via-stone-800/60 to-stone-800/70 via-stone-800/70"
          style="opacity: 1; transform: translateX(0px);"
        >
          <Image
            src={dashboardImage}
            alt="dashboard image crm"
            class="w-full relative rounded-2xl border border-transparent object-cover p-1 z-10 -hue-rotate-[45deg]"
          />
        </div>
      </div>
    </article>
  </div>
</section>
