---
import Accordion from "@/components/Accordion.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import { fandQes } from "@/content/FandQes";
---

<section class="py-10 mt-10">
  <div class="max-w-screen-xl mx-auto md:px-0 px-5">
    <SectionTitle
      title="سوالات متداول"
      subtitle="پاسخ سوالات خود را با درخواست مشاوره از کارشناسان ما دریافت کنید"
      effectiveTitle="f & q"
    />
    <div class="flex flex-col mx-auto gap-3 max-w-3xl mt-10">
      {
        fandQes.map((elm) => (
          <Accordion header={elm.question} body={elm.answer} />
        ))
      }
    </div>
  </div>
</section>
