---
import OrderDrawerTrigger from "@/components/OrderDrawerTrigger";
---

<section
  class="bg-cube-pattern hero-section relative z-10 w-full flex flex-col items-center gap-4 py-[8rem] sm:py-[14rem] mx-auto overflow-hidden"
>
  <div class="max-w-screen-xl flex flex-col items-center">
    <h1
      class="text-4xl sm:text-7xl sm:text-center px-5 font-bold text-white leading-loose"
    >
      <span>آژانس دیجیتال مارکتینگ </span>
      <span class="text-sky-400 pr-2 text-6xl sm:text-8xl">هوش آی تی</span>
    </h1>
    <p
      class="text-lg sm:text-center leading-10 text-white font-medium py-3 sm:max-w-[70%] px-5"
    >
      هدف ما رشد کسب و کار شما در دنیای مدرن دیجیتال است ، تخصص ما افزایش فروش ،
      جذب مشتری و برندیگ شماست مجموعه ما یک همراه واقعی برای کسب و کار شما در
      دنیای دیجیتال است و تنها هدفش پیشرفت شماست
    </p>

    <OrderDrawerTrigger label="مشاوره رایگان" client:load className="" />
  </div>
  <!-- <SVGText
    text="SMART IT"
    className="mt-auto absolute top-3 text-6xl md:text-[180px] opacity-5"
  />
  <SVGText
    text="SMART IT"
    className="mt-auto absolute top-5 text-6xl md:text-[180px] opacity-15"
  /> -->
</section>
