---
import { Icon } from "astro-icon/components";
import { Button } from "../components/ui/button";
import SVGText from "@/components/SVGText.astro";
---

<section
  class="bg-cube-pattern hero-section relative z-10 w-full flex flex-col items-center gap-4 py-[8rem] sm:py-[14rem] mx-auto overflow-hidden"
>
  <div class="max-w-screen-xl flex flex-col items-center">
    <h1
      class="text-4xl sm:text-7xl sm:text-center px-5 font-bold text-white leading-loose"
    >
      <span>آژانس دیجیتال مارکتینگ </span>
      <span class="text-sky-400 pr-2 text-6xl sm:text-8xl">هوش آی تی</span>
    </h1>
    <p
      class="text-lg sm:text-center leading-10 text-white font-medium py-3 sm:max-w-[70%] px-5"
    >
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
      طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
      که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با
      قرار گیرد.
    </p>
    <Button className="flex items-center">
      <span>مشاوره رایگان</span>
      <Icon name="mdi:arrow-left" size={25} class="" />
    </Button>
  </div>
  <!-- <SVGText
    text="SMART IT"
    className="mt-auto absolute top-3 text-6xl md:text-[180px] opacity-5"
  />
  <SVGText
    text="SMART IT"
    className="mt-auto absolute top-5 text-6xl md:text-[180px] opacity-15"
  /> -->
</section>
