---
import SectionTitle from "@/components/SectionTitle.astro";
import { Button } from "@/components/ui/button";
---

<section class="md:my-36 my-24 overflow-hidden scroll-mt-32" id="pricing">
  <div class="relative max-w-7xl mx-auto px-4">
    <SectionTitle
      title="تعرفه ها"
      subtitle="مناسب برای تمامی کسب و کارها"
      effectiveTitle="pricing"
    />

    <div class="w-full mx-auto grid grid-cols-3 lg:grid-cols-4 mt-12">
      <div class="grid md:grid-cols-3 col-span-3 gap-3 lg:col-start-2 lg:gap-0">
        <div
          class="w-full relative rounded-2xl h-full mx-auto overflow-hidden pricing-plan lg:rounded-b-none max-w-sm"
        >
          <div class="relative h-full p-px lg:pb-0">
            <div
              class="flex flex-col h-full lg:rounded-b-none overflow-hidden relative rounded-[calc(1rem-1px)] z-10"
            >
              <div
                class="flex w-full flex-col h-full max-w-[20rem] mx-auto pb-6 px-6"
              >
                <div class="flex w-full justify-between pt-6">
                  <h3 class="text-xl font-semibold">پایه</h3>
                </div><div class="pt-3">
                  <p class="opacity-90 dark:opacity-80">
                    برای کسب و کار های کوچک
                  </p><p class="font-semibold mt-3"></p><div
                    class="pricing-plan__monthly-price"
                  >
                    <span
                      class="font-semibold text-5xl dark:text-sky-400 text-primary-600"
                      >۱۸ میلیون
                    </span><span class="text-xl">/ماهانه</span><br />
                  </div>
                </div><ul class="flex w-full flex-col gap-2 lg:sr-only mt-6">
                  <li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >طراحی سایت رایگان <span></span></span
                    >
                  </li><li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2">سئو داخلی <span></span></span>
                  </li><li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >دامنه و هاست <span
                        ><span class="dark:text-base-300 ml-1 text-base-700"
                          >(GB 5 )</span
                        ></span
                      ></span
                    >
                  </li><li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >بررسی رقبا و استراتژی تولید محتوا <span></span></span
                    >
                  </li>
                  <li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >طراحی قالب محتوا <span></span></span
                    >
                  </li>
                  <li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >آنالیز اینستاگرام <span></span></span
                    >
                  </li><li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >مشاوره تبلیغات و بازاریابی <span></span></span
                    >
                  </li>
                </ul><div class="mt-auto">
                  <Button variant="outline" className="w-full mt-6"
                    ><a href="/signup/">مشاوره و سفارش</a></Button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-full relative rounded-2xl h-full mx-auto overflow-hidden pricing-plan lg:rounded-b-none max-w-sm bg-gradient-to-br dark:from-sky-400 dark:to-gray-700/60 from-sky-800 to-40% to-black/30"
        >
          <div class="relative h-full p-px lg:pb-0">
            <div
              class="flex flex-col h-full lg:rounded-b-none overflow-hidden relative rounded-[calc(1rem-1px)] z-10 bg-primary dark:bg-gray-950/80"
            >
              <div
                class="mx-auto -z-10 absolute aspect-square rounded-full -translate-y-1/2 left-0 top-0 -translate-x-1/2 blur-3xl bg-primary/40 dark:bg-primary/20 w-[80%]"
                aria-hidden="true"
              >
              </div><div
                class="flex w-full flex-col h-full max-w-[20rem] mx-auto pb-6 px-6"
              >
                <div class="flex w-full justify-between pt-6">
                  <h3 class="text-xl font-semibold main-text-gradient w-20">
                    حرفه ای
                  </h3>
                </div><div class="pt-3">
                  <p class="opacity-90 dark:opacity-80">
                    کسب و کار های درحال رشد
                  </p><p class="font-semibold mt-3"></p><div
                    class="pricing-plan__monthly-price"
                  >
                    <span
                      class="font-semibold text-5xl dark:text-primary-400 text-primary-600"
                      >۲۵ میلیون
                    </span><span class="text-xl">/ماهانه</span>
                  </div>
                </div><ul class="flex w-full flex-col gap-2 lg:sr-only mt-6">
                  <li class="flex items-start">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >طراحی سایت رایگان <span></span></span
                    >
                  </li><li class="flex items-start">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >سئو داخلی و خارجی <span></span></span
                    >
                  </li><li class="flex items-start">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2">
                      طراحی اختصاصی <span></span></span
                    >
                  </li>
                  <li class="flex items-start">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >دامنه و هاست <span
                        ><span
                          class="text-sm dark:text-base-300 ml-1 text-base-700"
                          >(GB 5)</span
                        ></span
                      ></span
                    >
                  </li><li class="flex items-start">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >بررسی رقبا و استراتژی تولید محتوا
                    </span>
                  </li><li class="flex items-start">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2">Basic reports <span></span></span>
                  </li><li class="flex items-start">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >آنالیز حرفه ای کلمات کلیدی <span></span></span
                    >
                  </li><li class="flex items-start">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >بهینه سازی ساختار URL ها <span></span></span
                    >
                  </li><li class="flex items-start">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >ثبت در search console <span></span></span
                    >
                  </li><li class="flex items-start">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >پشتیبانی رایگان <span></span></span
                    >
                  </li>
                </ul><div class="mt-auto">
                  <Button className="w-full mt-6">
                    <a href="/signup/">مشاوره و سفارش</a>
                  </Button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-full relative rounded-2xl h-full mx-auto overflow-hidden pricing-plan lg:rounded-b-none max-w-sm"
        >
          <div class="relative h-full p-px lg:pb-0">
            <div
              class="flex flex-col h-full lg:rounded-b-none overflow-hidden relative rounded-[calc(1rem-1px)] z-10"
            >
              <div
                class="flex w-full flex-col h-full max-w-[20rem] mx-auto pb-6 px-6"
              >
                <div class="flex w-full justify-between pt-6">
                  <h3 class="text-xl font-semibold">تجاری</h3>
                </div><div class="pt-3">
                  <p class="opacity-90 dark:opacity-80">
                    برای کسب و کار های بزرگ
                  </p><p class="font-semibold mt-3"></p><div
                    class="pricing-plan__monthly-price"
                  >
                    <span
                      class="font-semibold text-5xl dark:text-sky-400 text-primary-600"
                      >۳۷ میلیون
                    </span><span class="text-xl">/ماهانه</span>
                  </div>
                </div><ul class="flex w-full flex-col gap-2 lg:sr-only mt-6">
                  <li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >برنامه نویسی و توسعه سایت اختصاصی <span></span></span
                    >
                  </li>
                  <li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-sky-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >کدنویسی بهینه و تمیز <span></span></span
                    >
                  </li>
                  <li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >سئو داخلی و خارجی <span></span></span
                    >
                  </li><li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >آنالیز و تحقیق کلمات کلیدی <span></span></span
                    >
                  </li><li class="flex items-start opacity-90">
                    <svg
                      astro-icon="tabler/check"
                      class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      aria-hidden="true"
                      ><path d="M0 0h24v24H0z" stroke="none"></path><path
                        d="m5 12 5 5L20 7"></path></svg
                    >
                    <span class="inline mr-2"
                      >رفع ارور های search console <span></span>
                    </span><li class="flex items-start opacity-90">
                      <svg
                        astro-icon="tabler/check"
                        class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        aria-hidden="true"
                        ><path d="M0 0h24v24H0z" stroke="none"></path><path
                          d="m5 12 5 5L20 7"></path></svg
                      >
                      <span class="inline mr-2"
                        >بررسی رقبا و استراتژی تولید محتوا <span></span>
                      </span><li class="flex items-start opacity-90">
                        <svg
                          astro-icon="tabler/check"
                          class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          aria-hidden="true"
                          ><path d="M0 0h24v24H0z" stroke="none"></path><path
                            d="m5 12 5 5L20 7"></path></svg
                        >
                        <span class="inline mr-2"
                          >سناریو و ایده پردازی محتوا <span></span></span
                        >
                      </li><li class="flex items-start opacity-90">
                        <svg
                          astro-icon="tabler/check"
                          class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          aria-hidden="true"
                          ><path d="M0 0h24v24H0z" stroke="none"></path><path
                            d="m5 12 5 5L20 7"></path></svg
                        >
                        <span class="inline mr-2"
                          >افزایش ترافیک بازدید <span></span></span
                        >
                      </li><li class="flex items-start opacity-90">
                        <svg
                          astro-icon="tabler/check"
                          class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          aria-hidden="true"
                          ><path d="M0 0h24v24H0z" stroke="none"></path><path
                            d="m5 12 5 5L20 7"></path></svg
                        >
                        <span class="inline mr-2"
                          >ادمین درج محتوا <span></span></span
                        >
                      </li><li class="flex items-start opacity-90">
                        <svg
                          astro-icon="tabler/check"
                          class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          aria-hidden="true"
                          ><path d="M0 0h24v24H0z" stroke="none"></path><path
                            d="m5 12 5 5L20 7"></path></svg
                        >
                        <span class="inline ml-2"
                          >تولید و تدوین محتوای ویدیوئی <span></span></span
                        >
                      </li><li class="flex items-start opacity-90">
                        <svg
                          astro-icon="tabler/check"
                          class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          aria-hidden="true"
                          ><path d="M0 0h24v24H0z" stroke="none"></path><path
                            d="m5 12 5 5L20 7"></path></svg
                        >
                        <span class="inline mr-2"
                          >رپورتاژ آگهی <span></span></span
                        >
                      </li><li class="flex items-start opacity-90">
                        <svg
                          astro-icon="tabler/check"
                          class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 mt-0.5"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          aria-hidden="true"
                          ><path d="M0 0h24v24H0z" stroke="none"></path><path
                            d="m5 12 5 5L20 7"></path></svg
                        >
                        <span class="inline mr-2"
                          >پشتیبانی ۲۴ ساعته <span></span></span
                        >
                      </li>
                    </li>
                  </li>
                </ul>
                <div class="mt-auto">
                  <Button variant="outline" className="w-full mt-6"
                    ><a class="" href="/signup/">مشاوره و سفارش </a></Button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden col-span-4 lg:block">
        <div>
          <div class="text-lg border-b border-base-600/40 grid grid-cols-4">
            <p class="font-semibold pb-2 pt-8">وبسایت</p><div class="">
            </div><div
              class="dark:border-gray-600/60 border-base-300 dark:bg-gray-950/90 bg-primary-100 border-x"
            >
            </div><div class=""></div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">کدنویسی پیشرفته</p><div
              class="flex items-center justify-center py-2"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-sky-400 text-primary-600"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">طراحی UI اختصاصی</p><div
              class="flex items-center justify-center py-2"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-sky-400 text-primary-600"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">گالری محصولات</p><div
              class="flex items-center justify-center py-2"
            >
              <svg
                astro-icon="tabler/minus"
                class="shrink-0 h-5 w-5 dark:opacity-80 opacity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path d="M5 12h14"
                ></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-sky-400 text-primary-600"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">گالری نمونه کارها</p><div
              class="flex items-center justify-center py-2"
            >
              <svg
                astro-icon="tabler/minus"
                class="shrink-0 h-5 w-5 dark:opacity-80 opacity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path d="M5 12h14"
                ></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-sky-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">هاست و دامنه</p><div
              class="flex items-center justify-center py-2"
            >
              <span class="opacity-90 dark:opacity-80"> 5 GB</span>
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <span class=""> 10 GB</span>
            </div><div class="flex items-center justify-center py-2">
              <span class="opacity-90 dark:opacity-80">15 GB</span>
            </div>
          </div>
        </div><div>
          <div class="text-lg border-b border-base-600/40 grid grid-cols-4">
            <p class="font-semibold pb-2 pt-8">سئو</p><div class=""></div><div
              class="dark:border-gray-600/60 border-base-300 dark:bg-gray-950/80 bg-primary-100 border-x"
            >
            </div><div class=""></div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">
              ثبت در search console
            </p><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-sky-400 text-primary-600"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">
              بررسی رقبا و کلمات کلیدی
            </p><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/minus"
                class="shrink-0 h-5 w-5 dark:opacity-80 opacity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path d="M5 12h14"
                ></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-sky-400 text-primary-600"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">
              ساخت sitemap و بهینه سازی
            </p><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/minus"
                class="shrink-0 h-5 w-5 dark:opacity-80 opacity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path d="M5 12h14"
                ></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-sky-400 text-primary-600"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">
              بهبود ساختار URL ها
            </p><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/minus"
                class="shrink-0 h-5 w-5 dark:opacity-80 opacity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path d="M5 12h14"
                ></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/minus"
                class="shrink-0 h-5 w-5 dark:opacity-80 opacity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path d="M5 12h14"
                ></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div>
        </div><div>
          <div class="text-lg border-b border-base-600/40 grid grid-cols-4">
            <p class="font-semibold pb-2 pt-8">اینستاگرام</p><div class="">
            </div><div
              class="dark:border-gray-600/60 border-base-300 dark:bg-gray-950/80 bg-primary-100 border-x"
            >
            </div><div class=""></div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">
              ارائه استراتژی تولید محتوا
            </p><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-sky-400 text-primary-600"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">
              سناریو و ایده پردازی
            </p><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/minus"
                class="shrink-0 h-5 w-5 dark:opacity-80 opacity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path d="M5 12h14"
                ></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-sky-400 text-primary-600"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div><div class="grid grid-cols-4 border-b border-base-600/40">
            <p class="opacity-90 dark:opacity-80 py-2">
              طراحی قالب برای محتوا
            </p><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/minus"
                class="shrink-0 h-5 w-5 dark:opacity-80 opacity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path d="M5 12h14"
                ></path></svg
              >
            </div><div
              class="flex items-center justify-center py-2 bg-primary-100 border-base-300 border-x dark:bg-gray-950/80 dark:border-gray-600/60"
            >
              <svg
                astro-icon="tabler/minus"
                class="shrink-0 h-5 w-5 dark:opacity-80 opacity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path d="M5 12h14"
                ></path></svg
              >
            </div><div class="flex items-center justify-center py-2">
              <svg
                astro-icon="tabler/check"
                class="shrink-0 h-5 w-5 dark:text-primary-400 text-primary-600 dark:opacity-80 opcaity-90"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                aria-hidden="true"
                ><path d="M0 0h24v24H0z" stroke="none"></path><path
                  d="m5 12 5 5L20 7"></path></svg
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
