---
import SectionTitle from "@/components/SectionTitle.astro";
import { Icon } from "astro-icon/components";
import { servicesCard } from "../content/services/servicesCard";
---

<section class="mt-16">
  <div class="max-w-screen-lg mx-auto py-16 px-5">
    <SectionTitle
      title="خدمات ما"
      subtitle="ترکیبی از خلاقیت، تکنولوژی و استراتژی"
      effectiveTitle="our services"
    />

    <div
      class="grid gap-3 grid-cols-2 md:grid-cols-3 sm:grid-cols-2 sm:py-12 sm:px-0 mt-5"
    >
      {
        servicesCard.map((card) => (
          <article
            data-aos-duration="700"
            data-aos="flip-right"
            class="flex relative px-3 transition bg-base-200/50 border border-white/10 dark:hover:border-white/30 duration-300 flex-col gap-2 group overflow-hidden py-8 rounded-2xl text-center"
          >
            <div
              class="absolute rounded-full -translate-y-[70%] bg-sky-400 blur-2xl h-[26%] inset-0 m-auto w-[26%]"
              aria-hidden="true"
            />
            <div class="flex relative justify-center">
              <div class="flex rounded-full border bg-background/10 border-sky-400/10 p-3">
                <div class="border rounded-full p-3 bg-background/40 border-sky-400/30 dark:bg-base-800/40">
                  <div class="border rounded-full p-3 bg-background/70 border-sky-400/50">
                    <Icon name={card.icon} size={26} class="text-sky-400/80" />
                  </div>
                </div>
              </div>
            </div>
            <h3 class="pt-4 text-lg md:text-2xl font-semibold">{card.title}</h3>
            <p class="dark:opacity-80 opacity-90 text-sm sm:text-base">
              {card.text}
            </p>
          </article>
        ))
      }
    </div>
  </div>
</section>
