---
import { Icon } from "astro-icon/components";
---

<section>
    <div class="max-w-screen-lg mx-auto py-16 ">
        <h1 class="text-center text-5xl font-semibold">خدمات <span class="text-sky-400 px-3">ما</span></h1>
        <p class="text-center py-3 ">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
       
        <div class="grid gap-4 grid-cols-2 md:grid-cols-3 sm:grid-cols-2 sm:py-12 px-6 sm:px-0">

            <article data-aos-duration="700" data-aos="flip-right" class="flex relative px-4 transition bg-base-200/50 border border-white/10   dark:hover:border-white/30 duration-300 flex-col gap-2 group  overflow-hidden py-8 rounded-2xl text-center">
                <div class="absolute rounded-full -translate-y-[70%] bg-sky-400 blur-2xl h-[26%] inset-0 m-auto w-[26%]" aria-hidden="true"></div>
                <div class="flex relative justify-center">
                    <div class="flex rounded-full border bg-background/10 border-sky-400/10 p-3 ">
                        <div class="border rounded-full p-3 bg-background/40 border-sky-400/30 dark:bg-base-800/40">
                            <div class="border rounded-full p-3 bg-background/70 border-sky-400/50 ">
                                <Icon name='mdi:chart-areaspline' size={26} class="text-sky-400/80"/>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="pt-4 text-2xl font-semibold">سئو</h3>
                <p class="dark:opacity-80 opacity-90 text-sm sm:text-base"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
            </article>
            <article data-aos-duration="700" data-aos="zoom-in-left" class="flex relative px-4 transition bg-base-200/50 border border-white/10   dark:hover:border-white/30 duration-300 flex-col gap-2 group  overflow-hidden py-8 rounded-2xl text-center">
                <div class="absolute rounded-full -translate-y-[70%] bg-sky-400 blur-2xl h-[26%] inset-0 m-auto w-[26%]" aria-hidden="true"></div>
                <div class="flex relative justify-center">
                    <div class="flex rounded-full border bg-background/10 border-sky-400/10 p-3 ">
                        <div class="border rounded-full p-3 bg-background/40 border-sky-400/30 dark:bg-base-800/40">
                            <div class="border rounded-full p-3 bg-background/70 border-sky-400/50 ">
                                <Icon  name='mdi:web-check' size={26} class="text-sky-400/80"/>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="pt-4 text-2xl font-semibold">طراحی سایت</h3>
                <p class="dark:opacity-80 opacity-90 text-sm sm:text-base "> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
            </article>
            <article data-aos-duration="700" data-aos="flip-right" class="flex relative px-4 transition bg-base-200/50 border border-white/10   dark:hover:border-white/30 duration-300 flex-col gap-2 group  overflow-hidden py-8 rounded-2xl text-center">
                <div class="absolute rounded-full -translate-y-[70%] bg-sky-400 blur-2xl h-[26%] inset-0 m-auto w-[26%]" aria-hidden="true"></div>
                <div class="flex relative justify-center">
                    <div class="flex rounded-full border bg-background/10 border-sky-400/10 p-3 ">
                        <div class="border rounded-full p-3 bg-background/40 border-sky-400/30 dark:bg-base-800/40">
                            <div class="border rounded-full p-3 bg-background/70 border-sky-400/50 ">
                                <Icon name='mdi:microsoft-visual-studio-code' size={26} class="text-sky-400/80"/>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="pt-4 text-2xl font-semibold">برنامه نویسی</h3>
                <p class="dark:opacity-80 opacity-90 text-sm sm:text-base"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
            </article>
            <article data-aos-duration="700" data-aos="flip-right" class="flex relative px-4 transition bg-base-200/50 border border-white/10   dark:hover:border-white/30 duration-300 flex-col gap-2 group  overflow-hidden py-8 rounded-2xl text-center">
                <div class="absolute rounded-full -translate-y-[70%] bg-sky-400 blur-2xl h-[26%] inset-0 m-auto w-[26%]" aria-hidden="true"></div>
                <div class="flex relative justify-center">
                    <div class="flex rounded-full border bg-background/10 border-sky-400/10 p-3 ">
                        <div class="border rounded-full p-3 bg-background/40 border-sky-400/30 dark:bg-base-800/40">
                            <div class="border rounded-full p-3 bg-background/70 border-sky-400/50 ">
                                <Icon  name='mdi:instagram' size={26} class="text-sky-400/80"/>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="pt-4 text-2xl font-semibold">اینستاگرام</h3>
                <p class="dark:opacity-80 opacity-90 text-sm sm:text-base"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
            </article>
            <article data-aos-duration="700" data-aos="zoom-in-right" class="flex relative px-4 transition bg-base-200/50 border border-white/10   dark:hover:border-white/30 duration-300 flex-col gap-2 group  overflow-hidden py-8 rounded-2xl text-center">
                <div class="absolute rounded-full -translate-y-[70%] bg-sky-400 blur-2xl h-[26%] inset-0 m-auto w-[26%]" aria-hidden="true"></div>
                <div class="flex relative justify-center">
                    <div class="flex rounded-full border bg-background/10 border-sky-400/10 p-3 ">
                        <div class="border rounded-full p-3 bg-background/40 border-sky-400/30 dark:bg-base-800/40">
                            <div class="border rounded-full p-3 bg-background/70 border-sky-400/50 ">
                                <Icon name='mdi:draw-pen' size={26} class="text-sky-400/80"/>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="pt-4 text-2xl font-semibold">طراحی گرافیک</h3>
                <p class="dark:opacity-80 opacity-90 text-sm sm:text-base"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
            </article>
            <article data-aos-duration="700" data-aos="flip-right" class="flex relative px-4 transition bg-base-200/50 border border-white/10   dark:hover:border-white/30 duration-300 flex-col gap-2 group  overflow-hidden py-8 rounded-2xl text-center">
                <div class="absolute rounded-full -translate-y-[70%] bg-sky-400 blur-2xl h-[26%] inset-0 m-auto w-[26%]" aria-hidden="true"></div>
                <div class="flex relative justify-center">
                    <div class="flex rounded-full border bg-background/10 border-sky-400/10 p-3 ">
                        <div class="border rounded-full p-3 bg-background/40 border-sky-400/30 dark:bg-base-800/40">
                            <div class="border rounded-full p-3 bg-background/70 border-sky-400/50 ">
                                <Icon  name='mdi:google-plus' size={26} class="text-sky-400/80"/>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="pt-4 text-2xl font-semibold">گوگل</h3>
                <p class="dark:opacity-80 opacity-90 text-sm sm:text-base"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
            </article>  
        </div>
        <!-- end of grid -->
         <img src="/images/dashboard.webp" alt="" class="w-3/4 md:w-3/4  rounded-3xl border-4  border-slate-500 mt-8 mx-auto">
    </div>
</section>