---
import TestimonialsCard from "@/components/TestimonialsCard";
import { testimonials } from "../content/testimonials";
---

<section class="py-10 mt-5">
  <div class="max-w-screen-xl mx-auto px-5 md:px-0">
    <h2 class="text-3xl md:text-5xl text-center font-medium">نظرات مشتریان</h2>
    <div
      class="mx-auto grid md:grid-cols-3 gap-4 lg:gap-6 md:mt-16 mt-8"
      style="opacity: 1; transform: translateY(0px);"
    >
      {
        testimonials.map((testimonial, index) => (
          <TestimonialsCard sublist={testimonial} index={index} />
        ))
      }
    </div>
  </div>
</section>
