---
import { getCollection } from "astro:content";
import Header from "@/components/Header.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import Layout from "@/layouts/Layout.astro";
import PortfolioCard from "@/components/PortfolioCard.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import BannerSection from "@/sections/BannerSection.astro";
import Footer from "@/sections/Footer.astro";

const portfolios = await getCollection("portfolios");
---

<Layout title="نمونه کارها">
  <Header />
  <MobileHeader />
  <main class="sm:pt-20">
    <div class="max-w-screen-xl mx-auto py-10 px-5">
      <SectionTitle
        title="نمونه کارها"
        effectiveTitle="portfolios"
        subtitle="مجموعه ای از بهترین دیزاین ها برای  انواع کسب و کار"
      />

      <section class="pt-10">
        <div class="grid md:grid-cols-3 gap-10">
          {
            portfolios.map(({ slug, data }) => (
              <PortfolioCard portfolio={data} key={slug} />
            ))
          }
        </div>
      </section>
    </div>
  </main>
  <BannerSection />
  <Footer />
  <script>
    const cards = document.querySelectorAll("[data-element=portfolio-card]");

    cards.forEach((card) => {
      const computedStyles = getComputedStyle(card);
      const height = parseInt(computedStyles.height) - 750; // Get the height of the card
      height > 0 ? height : -1 * height;
      const duration = height / 50; // Calculate duration based on height

      card.style.setProperty("--animation-portfolio", `${duration}s`); // Set the duration dynamically
    });
  </script>
</Layout>
